{{- if .Values.canaryService.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: maven-webapp-canary
  labels:
    app.kubernetes.io/managed-by: Helm
spec:
  ports:
  - port: 80
    targetPort: 80
  selector:
    app: maven-webapp
{{- end }}
